---
apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: traefik
  labels:
    app.kubernetes.io/name: traefik
    app.kubernetes.io/component: config
    app.kubernetes.io/part-of: traefik
data:
  traefik.yml: |
    global:
      checkNewVersion: true
      sendAnonymousUsage: false
    api:
      dashboard: true
      insecure: true
    entryPoints:
      web:
        address: ":80"
        http:
          redirections:
            entryPoint:
              to: websecure
              scheme: https
              permanent: true
      websecure:
        address: ":443"
    providers:
      kubernetesIngress:
        allowExternalNameServices: true
        allowEmptyServices: false
        ingressClass: traefik
      kubernetesCRD:
        allowExternalNameServices: true
        allowEmptyServices: false
        ingressClass: traefik
    log:
      level: INFO
      filePath: /var/log/traefik/traefik.log
    accessLog:
      filePath: /var/log/traefik/access.log
      format: json
    certificatesResolvers:
      letsencrypt:
        acme:
          dnschallenge:
            provider: cloudflare
          email: YOUR_ACME_EMAIL@example.com
          storage: /letsencrypt/acme.json
          caserver: https://acme-v02.api.letsencrypt.org/directory
    metrics:
      prometheus:
        buckets: [0.1, 0.3, 1.2, 5.0]
