---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ollama

commonLabels:
  app.kubernetes.io/managed-by: kustomize
  app.kubernetes.io/part-of: ollama

resources:
  - namespace.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
