---
# Ansible inventory
# https://docs.ansible.com/ansible/latest/inventory_guide/intro_inventory.html

all:
  children:
    local:
      hosts:
        localhost:
          ansible_connection: local
