---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: adguard

commonLabels:
  app.kubernetes.io/managed-by: kustomize
  app.kubernetes.io/part-of: adguard

resources:
  - namespace.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
