services:
  adguard:
    image: adguard/adguardhome:latest
    container_name: adguard
    restart: unless-stopped
    cap_add:
      - NET_BIND_SERVICE
      - NET_RAW
    environment:
      - TZ=UTC
    volumes:
      - adguard_work:/opt/adguardhome/work
      - adguard_conf:/opt/adguardhome/conf
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "853:853/tcp"
      - "784:784/udp"
      - "3001:3000/tcp"
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adguard.rule=Host(`adguard.localhost`)"
      - "traefik.http.routers.adguard.entrypoints=web"
      - "traefik.http.services.adguard.loadbalancer.server.port=3000"
      - "prometheus.io/scrape=true"
      - "prometheus.io/port=3000"
      - "prometheus.io/path=/metrics"
      - "prometheus.io/job=adguard"

volumes:
  adguard_work:
  adguard_conf:

networks:
  traefik:
    external: true
