global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['localhost:9090']

  - job_name: grafana
    static_configs:
      - targets: ['grafana:3000']
    metrics_path: /metrics

  - job_name: loki
    static_configs:
      - targets: ['loki:3100']
    metrics_path: /metrics

  - job_name: tempo
    static_configs:
      - targets: ['tempo:3200']
    metrics_path: /metrics

  - job_name: node-exporter
    static_configs:
      - targets: ['node-exporter:9100']
